[defaults]
inventory = inventory/weka_ec2.aws_ec2.yml
callback_result_format = yaml
host_key_checking = False
retry_files_enabled = False
# fan-out: node checks are independent
forks = 20

[inventory]
enable_plugins = amazon.aws.aws_ec2, yaml, ini
